<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Income Categories</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/categories_add.css' %}">
</head>
<body>
    <div class="container">
        <h2>Manage Income Categories</h2>
        <form id="category-form" method="POST" action="{% url 'categories_add' %}">
            {% csrf_token %}
           <input type="text" id="name" name="name" placeholder="Enter category name" required>
           <button type="submit" class="btn download-btn">Add Transaction</button>
        </form>
    </div>
</body>
</html>
